.slideshow {
  background-color: black;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  // &Img {
  //   opacity: 0.2 !important;
    
  // }

  &Buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;

    &Button {
      margin: 8px;
    }
  }

  &Data {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;

    &P {
      margin: 8px 32px;
      color: red;
    }
  }
}

@keyframes imgTest {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}