.slideshow {
  background-color: black;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &Buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;

    &Button {
      margin: 0px;
      padding: 8px 16px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &Data {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;

    &P {
      margin: 8px 32px;
      color: red;
    }
  }
}