@import '../../sass/myFonts.scss';

.navbar {
  // background-color: red;
  display: flex;
  justify-content: center;
  height: 128px;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 8px;

  &LogoContainer {
    // background-color: antiquewhite;
    display: flex;
  }

  &MenuContainer {
    // background-color: brown;
    display: flex;
    justify-content: center;
  }
}

.menu {
  // background-color: red;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &Element {
    // background-color: aqua;
    margin: 0 64px;
    &Link {
      text-decoration: none;
      color: white;
      // font-family: 'Lobster', sans-serif;
      font-size: large;

      &Active{
        @extend .menuElementLink;
        text-decoration: underline;
      }
    }
  }
}

.logo {
  z-index: 2;
  height: 128px;
  // background-color: rgba(255, 255, 255, 0.2);
  // backdrop-filter: blur(2px);
  // padding: 4px;
  // border-radius: 16px;
}