@import './../../sass/myFonts.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.li{
    display: flex;
}

.link{
    text-decoration: none;
    color: black;
    padding: 16px 32px;
    font-size: $basicFullHDSize;

    &Active{
        @extend .link;
        text-decoration: underline;
    }
}

.logoImg{
    height: 100px;
    margin: 8px;
}